# git ignore file
_ReSharper*
*.suo
*.cache
bin.*
bin
obj*
packages
*.DotSettings.user
*.user
*.bak
*DebugLog*
*.nupkg
ClientBin*
TestResults*/
Samples/TempHire/TempHireWeb/App_Data/TempHire.sdf
Samples/TempHire/TempHireWeb/App_Data/TempHire.Security.sdf
Documentation/build*/
Documentation/designtime
Documentation/dotnetimages
Documentation/images
Documentation/script
Documentation/scripts
Documentation/stylesheets
Documentation/flash
