# git ignore file
_ReSharper*
*.suo
*.cache
bin.*
bin
obj*
packages
*.DotSettings*
*.user
*.bak
log*
ClientBin*
TestResults*/

Samples/TempHire/TempHireWeb/App_Data/TempHire.sdf
Samples/TempHire/TempHireWeb/App_Data/TempHire.Security.sdf
