<#@ template  language="C#" debug="true" hostSpecific="true" #>
<#@ output extension=".ReadMe" #>
<#@ Assembly Name="IdeaBlade.VisualStudio.OM.CodeGeneratorV6.11.0.dll" #>
<#@ import namespace="IdeaBlade.VisualStudio.OM.CodeGenerator" #>
<#
	// Source for this file located at: C:\USERS\MGOOD\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\11.0\EXTENSIONS\YGYNDZBA.DP4\DomainModelTemplateCodeFirst.tt
	// NorthwindIB.edmx  <--- This is needed so that "Transform Related Text Templates On Save" works correctly.
	var template = new DomainModelTemplateCodeFirst(this);
	template.Generate();
#>
<#+ 
#>
