<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="win" />
  <package id="Callisto" version="1.2.6" targetFramework="win" />
  <package id="IdeaBlade.DevForce.Core" version="7.2.1" targetFramework="win" />
  <package id="IdeaBlade.DevForce.Server" version="7.2.1" targetFramework="win" />
  <package id="Microsoft.Composition" version="1.0.17" targetFramework="win" />
  <package id="Windows.UI.Interactivity" version="1.1.0.0" targetFramework="win" />
</packages>