<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="sl50" />
  <package id="EntityFramework.SqlServerCompact" version="4.3.3" targetFramework="net40" />
  <package id="IdeaBlade.DevForce-2010.Aop" version="6.1.14" targetFramework="sl50" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8854.2" targetFramework="net40" />
  <package id="PostSharp" version="2.1.7.30" targetFramework="sl50" />
  <package id="SqlServerCompact" version="4.0.8854.1" targetFramework="net40" />
</packages>