<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ideablade.configuration" type="IdeaBlade.Core.Configuration.IdeaBladeSection, IdeaBlade.Core, Version=6.1.2.0, Culture=neutral, PublicKeyToken=287b5094865421c0" />
  </configSections>
  <ideablade.configuration version="6.00" xmlns="http://schemas.ideablade.com/2010/IdeaBladeConfig">
    <!--<logging logFile="DebugLog.xml" />-->
    <objectServer remoteBaseURL="http://localhost" serverPort="9009" serviceName="EntityService">
      <clientSettings isDistributed="true" />
    </objectServer>
  </ideablade.configuration>
</configuration>